
# testing
.tempCodeRunnerFile.js
/Output/
#/input_fileExcel_In_Here/
/input_filevCard_In_Here/

#"/folder/"  : khong thao tac cho du file co nam o cloud //no add file
# "/folder"  : van thao tac voi cac file dang nam o cloud //no add file